.header {
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  background-color: white;
  top: 0;
  right: 0;
  left: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(208, 206, 206);
  z-index: 100;
}

.left-section {
  display: flex;
  align-items: center;
}
.hamburger-menu {
  height: 24px;
  margin-left: 20px;
  margin-right: 20px;
}
.youtube-logo {
  height: 24px;
}
.middle-section {
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
}
.search-bar {
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.09);
}
.search-bar::placeholder {
  font-family: roboto, arial;
  font-size: 16px;
}

.search-button,
.voice-search-button {
  height: 40px;
  width: 66px;
  background-color: rgb(241, 241, 241);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  font-family: roboto, arial;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip {
  opacity: 1;
}

.search-icon {
  height: 25px;
}
.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: rgb(245, 245, 245);
}
.voice-search-icon {
  height: 24px;
}
.right-section {
  width: 180px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
.upload-icon {
  height: 28px;
}
.youtube-apps-icon {
  height: 24px;
}
.notifications-icon {
  height: 24px;
}
.notifications-icon-container {
  position: relative;
}
.notifications-count {
  position: absolute;
  top: -1px;
  right: -3px;
  background-color: rgb(234, 10, 10);
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
  font-family: robot, arial;
  font-size: 11px;
}
.current-user-picture {
  height: 32px;
  border-radius: 50%;
}
