.big-one-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 40px;
}
.video-grid {
  display: grid;
  grid-template-columns: 40px 230px;
}
@media (max-width: 750px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 751px) and (max-width: 1199px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-img {
  width: 100%;
}

.video-title {
  margin-top: 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-author,
.video-stat {
  font-size: 12px;
  color: rgb(96, 96, 96);
  line-height: 18px;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}
.thumbnail-row {
  margin-bottom: 12px;
  position: relative;
}
.video-time {
  position: absolute;
  background-color: black;
  color: white;
  bottom: 8px;
  right: 8px;
  font-family: arial, roboto;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  border-radius: 2px;
}
.channel-picture {
  position: relative;
}

.channel-picture .tooltip {
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
  border-radius: 4px;
  width: 250px;
  height: 80px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}
.channel-picture:hover .tooltip {
  opacity: 1;
}
.profile-picture-tooltip {
  width: 55px;
  border-radius: 50%;
}
.tooltip-stat {
  white-space: nowrap;
  font-family: roboto, arial;
  margin-left: 20px;
}
.video-author-tooltip {
  color: black;
  font-weight: bold;
  font-size: 18px;
}
.video-stat-tooltip {
  color: rgb(57, 55, 55);
}
a {
  color: black;
  text-decoration: none;
}
